* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
    font-family: 'Open Sans', sans-serif;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

}
.logo {
    width: 100px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    padding: 20px;
}
a {
    color: #000;
    text-decoration: none;
}
.social-icon img {
    width: 40px;
    padding-left: 15px;
}

.start-image {
    background-image: url(../images/capasite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 600px;
}

.topper {
    padding-top: 50px;
}
.topper h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.topper p{
    padding-top: 25px;
    text-align: center;
}

.first-cta{
    margin-top: 30px;
    padding: 25px;
    width: 100%;
    background-color: red;
}

.project {
    border: 1px solid black;
    display: flex;
    margin-top: 30px
}
.project img {
    width: 40%
}
.project p {
    margin: 10px;
}
.deployment{
    margin-top: 30px;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    margin-top: 30px;
    border: 1px solid red;
    width: 35%;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
}

.history {
    margin-top: 30px;
}
.history h1 {
    text-align: center;
    margin-bottom: 30px;
}
.fotos-inauguracao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foto img{
    width: 280px;
    margin-top: 20px;
}